/*стили Карточек с заказом*/

.cards {
  border: none;
  background-color: var(--bg-grey);
  border-radius: 8px;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.card__image-left {
  object-fit: cover;
  width: 185px;
  height: 215px;
}

.card__label {
  display: none;
}

.card__label-new {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 67px;
  height: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.32), 0 1px 6px rgba(0, 0, 0, 0.24);
  color: white;
  background-color: #E30029;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.card__label-present {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 67px;
  height: 32px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.32), 0 1px 6px rgba(0, 0, 0, 0.24);
  color: #333333;
  background-color: #FFE600;
  border-radius: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.price-box {
  width: 61px;

}

.btn-block{
  height: 48px;
  width: 132px;
  border-radius: 30px;
  border: 2px solid var(--color-main);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.card__button {
  border: none;
  outline: none;
  padding: 0;
  width: 52px;
  background-color: white;
}

.card__buttons-counter {
  text-align: center;
  border-left: 2px solid var(--color-main);
  border-right: 2px solid var(--color-main);
}


.card__del-button {
  background-image: url(../image/button-del-item.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 16px;
}

.card-cover {
  max-width: 150px;
  margin: 0;
  background-color: black;
  opacity: 0.5;

}

@media (max-width: 1200px) {
  .card__image-left {
    width: 150px;
    height: 215px;
  }
}

@media (max-width: 768px) {
  .cards {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }

  .card__image-left {
    width: 150px;
    height: 60px;
  }
}


@media (max-width: 768px) {
  .btn-block{
    height: 32px;
    width: 88px;
  }

  .card__button{
    width: 36px;
  }

}
