/*Стили подвала*/
.footer {
  background-color: #1A1A1A;
  min-height: 196px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.footer__list-link{
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.2s ease;
}

.footer__list-link:hover {
  color: var(--color-main);
}

.footer__payment-sm {
  width: 88px;
  height: 40px;
}

.footer__payment-lg {
  width: 135px;
  height: 40px;
}

.footer__link {
  color: var(--color-main);
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer__link:hover {
  color: white;
}
