@import url(../bootstrap/bootstrap.css);
@import url(../fonts/fonts.css);

@import url(./text-styles.css);
@import url(./header.css);
@import url(./row-status.css);
@import url(./cards.css);
@import url(./order-promo.css);
@import url(./footer.css);

.root {
  --color-main: #CC693E;
  --color-grey: #CCC;
  --bg-grey: #F1F1F1;
  --bg-dark: #1A1A1A;
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}


.mt-40 {
  margin-top: 40px;
 }

 .mb-40 {
   margin-bottom: 40px;
 }

 .mt-10 {
   margin-top: 10px;
 }

 .mb-10 {
   margin-bottom: 10px;
 }





/*стили для карточек в рекомендуемом*/
.recommend {
  margin: 64px 0 0;
  padding: 0;

}

.recommend-row {
  max-width: 1337px;
  overflow: hidden; /*спрятана карточка!*/
  flex-wrap: nowrap;
  border-bottom: 2px solid #B3B3B3;
}

.card-recommend{
  max-width: 298px;
  margin-bottom: 64px;
}

.card-recommend-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 265px;
  margin: 16px auto;
}

.card-recommend-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 265px;
  margin: 0 auto 16px;
}

.recommend-button{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  outline: none;
  color: var(--color-main);
  background-color: white;
  border: 2px solid var(--color-main);
  border-radius: 32px;
  padding: 0;
  margin: 0 16px 16px 0;
  width: 160px;
  height: 40px;
  align-self: flex-end;
}

.recommend-button-colored {
  background-color: var(--color-main);
  color: white;
}

.final-price {
  margin: 32px 0;
  align-self: flex-end;
}

.button__next {
  width: 331px;
  margin: 20px 0 70px;
  border: 1px solid black;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.28), 0 1px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.2);
}

