@import url(../bootstrap/bootstrap.css);
@import url(../fonts/fonts.css);

@import url(./text-styles.css);
@import url(./header.css);
@import url(./row-status.css);
@import url(./cards.css);
@import url(./order-promo.css);
@import url(./recomend.css);
@import url(./footer.css);
@import url(./popup.css);

.root {
  --color-main: #CC693E;
  --color-grey: #CCC;
  --bg-grey: #F1F1F1;
  --bg-dark: #1A1A1A;
  font-family: "Roboto", sans-serif;
  margin: 0;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

 .mt-10 {
   margin-top: 10px;
 }

 .mb-10 {
   margin-bottom: 10px;
 }


.button__final {
  width: 331px;
  margin: 32px 0 70px;
  border: 1px solid black;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.28), 0 1px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.2);
}

