/*Стили текст*/

.text-small {
  /*хедер, футер копирайт*/
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: white;
}

.text-price-btn {
   /*хедер кнопка*/
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  padding: 0;
}

.text-numbers {
  /*номера телефонов, цены*/
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: black;
  margin: 0;
  padding: 0;
}

.text-prices {
  /*цены*/
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;

}

.text-prices-width {
  width: 61px;
}


.text-headers {
  /*текст статуса заказов, рекомендации, подарки*/
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  color: black;
  margin: 0;
  padding: 0;

}

.text-headers-unactive {
  color: var(--color-grey);
}

.text-card-header {
  /*текст заголовков карточек*/
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.text-card-body {
  /*текст  карточек*/
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.text-min-card {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: white;
  text-align: center;
  max-width: 150px;
  margin: 0;
  z-index: 2000;
}

.text-header-promo {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.text-promo {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.text-price-promo {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.text-color-black-60 {
  color: #666666;
}

.text-color-black-30 {
  color: #ccc;
}


.text-color-main {
  color: var(--color-main);
}

@media (max-width: 968px) {
  .text-headers {
    /*текст статуса заказов, рекомендации, подарки*/
    font-size: 22px;
    line-height: 32px;
  }

  .text-card-header {
    /*текст заголовков карточек*/
    font-size: 18px;
    line-height: 24px;
  }

  .text-card-body {
    /*текст  карточек*/
    font-size: 12px;
    line-height: 16px;
  }

  .text-header-promo {
    font-size: 18px;
    line-height: 24px;
  }

  .text-price-promo {
    font-size: 16px;
    line-height: 24px;
  }


}

@media (max-width: 768px) {
.text-prices {
  /*цены*/
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  }

.text-prices-width {
  width: 45px;
  }
}
